html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #080e10;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img,
button {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: none;
  background: #fef289;
  color: #000;
}
